name: Check python code

on:
  push:
    paths:
    - '**.py'

jobs:
  check-python-scripts:
    name: Check python scripts
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Lint with flake8
      run: |
        pip install flake8 flake8-docstrings
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --statistics
    - name: Run unit tests
      env:
        JIRA_SERVER: https://example.com
        JIRA_ID: jira@example.com
        JIRA_TOKEN: abcdef
      run: |
        pip install -r requirements.txt
        pytest
